h1 {
  font-size: clamp(36px, 2vw, 58px);
}

h2 {
  font-size: clamp(24px, 2vw, 48px);
}

h3 {
  font-size: clamp(20px, 2vw, 36px);
}

p {
  font-size: clamp(14px, 2vw, 18px);
}

* {
  margin: 0;
  padding: 0;
}

body {
  font-family: Arial, sans-serif;
  color: #d8d8d8;
  max-width: 1920px;
  margin: 0 auto;
  border: 1px solid #d8d8d8;
}

header .navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 64px;
  padding: 0 24px;
}
header .navbar nav ul {
  list-style: none;
  display: flex;
  gap: 16px;
}
header .navbar nav ul i {
  display: none;
}
header .navbar nav ul a {
  text-decoration: none;
  color: #4a4a4a;
}

.hero, .content, .courses, .media {
  padding: 32px 24px;
}

.hero {
  display: grid;
  grid-template-columns: 60% 40%;
  gap: 24px;
  background-color: #d8d8d8;
}
.hero .hero-image {
  text-align: right;
}
.hero .hero-image img {
  max-width: 100%;
  height: auto;
}
.hero .hero-text {
  color: #4a4a4a;
  align-self: center;
  width: 80%;
}
.hero .hero-text h1 {
  padding-bottom: 24px;
}
.hero .hero-text p {
  margin-bottom: 24px;
}
.hero .hero-text button {
  color: white;
  background-color: #4a4a4a;
  padding: 8px;
  width: 100%;
  border: none;
  cursor: pointer;
  transition: 0.3s;
}
.hero .hero-text button:hover {
  background-color: #4a90e2;
}

.content {
  display: grid;
  grid-template-columns: 60% 1% 40%;
  background: white;
  color: #4a4a4a;
}
.content .card img {
  width: 100%;
}
.content .card h2 {
  margin: 32px 0 24px;
}
.content .card .author {
  padding-top: 24px;
}
.content .line {
  border-right: 1px solid #d8d8d8;
}
.content .sidebar {
  display: grid;
  grid-template-rows: auto;
}
.content .sidebar .item {
  border-bottom: 1px solid #d8d8d8;
  display: flex;
  padding: 16px;
}
.content .sidebar .item:first-child {
  padding-top: 0;
}
.content .sidebar .item .item-img {
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  margin-right: 12px;
  width: 272px;
}
.content .sidebar .item .img-1 {
  background-image: url("../source/images/information-orientation.jpg");
}
.content .sidebar .item .img-2 {
  background-image: url("../source/images/information-campus.jpg");
}
.content .sidebar .item .img-3 {
  background-image: url("../source/images/information-guest-lecture.jpg");
}
.content .sidebar .item .img-4 {
  background-image: url("../source/images/information-orientation.jpg");
}
.content .sidebar .item .img-5 {
  background-image: url("../source/images/information-campus.jpg");
}
.content .sidebar .item .img-1, .content .sidebar .item .img-2, .content .sidebar .item .img-3, .content .sidebar .item .img-4, .content .sidebar .item .img-5 {
  height: auto;
  aspect-ratio: 1/1;
  object-fit: cover;
}
.content .sidebar .item .card-text {
  margin: 0 auto;
  align-self: center;
  line-height: 36px;
}
.content .sidebar .item .card-text a {
  text-decoration: none;
  color: #4a90e2;
}
.content .sidebar .item:nth-child(3) {
  background-color: #d8d8d8;
}

.courses {
  text-align: center;
  background-color: #d8d8d8;
}
.courses h2 {
  color: #4a4a4a;
}
.courses .courses-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  padding: 32px 72px;
  gap: 32px;
}
.courses .courses-grid a {
  text-decoration: none;
}
.courses .courses-grid a .course-card {
  background: white;
  text-align: left;
}
.courses .courses-grid a .course-card img {
  width: 100%;
}
.courses .courses-grid a .course-card .courses-text {
  padding: 16px;
  color: #4a4a4a;
}
.courses .courses-grid a .course-card .courses-text p:nth-child(2) {
  padding: 12px 0;
}

.media-sec h2 {
  color: #4a4a4a;
  text-align: center;
  padding-top: 32px;
}
.media-sec .media-blog {
  display: grid;
  grid-template-columns: 60% 40%;
  background: white;
  color: #4a4a4a;
}
.media-sec .media-blog .media {
  padding: 32px 24px;
  position: relative;
}
.media-sec .media-blog .media iframe {
  width: 100%;
  height: 600px;
}
.media-sec .media-blog .media h2 {
  margin: 32px 0 24px;
  text-align: left;
}
.media-sec .sidebar {
  padding: 32px 0;
}
.media-sec .sidebar .item {
  padding: 16px;
  display: flex;
}
.media-sec .sidebar .item .item-img {
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  margin-right: 12px;
  width: 272px;
}
.media-sec .sidebar .item .img-1, .media-sec .sidebar .item .img-2, .media-sec .sidebar .item .img-3, .media-sec .sidebar .item .img-4, .media-sec .sidebar .item .img-5 {
  height: auto;
  aspect-ratio: 1/1;
  object-fit: cover;
}
.media-sec .sidebar .item .img-4 {
  background-image: url("../source/images/information-orientation.jpg");
}
.media-sec .sidebar .item .img-5 {
  background-image: url("../source/images/information-campus.jpg");
}
.media-sec .sidebar .item .card-text {
  margin: 0 auto;
  align-self: center;
  line-height: 36px;
  padding-left: 12px;
}
.media-sec .sidebar .item .card-text a {
  text-decoration: none;
  color: #4a90e2;
}
.media-sec .sidebar .item:nth-child(1) {
  background-color: #d8d8d8;
}

footer {
  display: flex;
  justify-content: space-between;
  padding: 0 24px;
}
footer .footer-list ul {
  list-style: none;
  display: flex;
  gap: 16px;
}
footer .footer-list ul a {
  text-decoration: none;
  color: #d8d8d8;
}

@media (max-width: 1380px) {
  .content .sidebar .item .card-text {
    line-height: 26px;
    padding-left: 12px;
  }
  .media .sidebar .item .card-text {
    line-height: 26px;
    padding-left: 12px;
  }
}
@media (max-width: 980px) {
  .hero {
    grid-template-columns: 1fr;
    grid-template-rows: auto auto;
  }
  .hero .hero-text {
    width: 100%;
  }
  .hero .hero-text p {
    margin-bottom: 24px;
  }
  .content {
    grid-template-columns: 1fr;
  }
  .content .card {
    display: none;
  }
  .content .sidebar {
    width: 100%;
    padding: 18px 0 32px;
    padding: 0;
  }
  .content .sidebar .item {
    flex-wrap: wrap;
  }
  .content .sidebar .item img {
    width: 100%;
  }
  .content .sidebar .item .card-text {
    width: 100%;
  }
  .content .sidebar .item .item-img {
    width: 100%;
    height: 272px;
    margin-right: 0;
  }
  .content .sidebar .item:nth-child(3) {
    background-color: white;
  }
  .content .sidebar .line {
    border-right: 0;
  }
  .content .line {
    border-right: 0;
  }
  .courses .courses-grid {
    grid-template-columns: repeat(2, 1fr);
  }
  .media-sec .sidebar {
    display: none;
  }
  .media-sec .media-blog {
    grid-template-columns: 1fr;
  }
  .media-sec .media-blog .media {
    width: auto;
  }
  .content-text {
    display: none;
  }
}
.content .sidebar .item {
  border-bottom: 0;
}
.content .sidebar .item.img-1 {
  background-image: url("../source/images/information-orientation-mobile.jpg");
}
.content .sidebar .item.img-2 {
  background-image: url("../source/images/information-campus-mobile.jpg");
}
.content .sidebar .item.img-3 {
  background-image: url("../source/images/information-guest-lecture-mobile.jpg");
}
.content .sidebar .item .card-text {
  line-height: 36px;
  padding: 18px 16px;
}

@media (max-width: 760px) {
  header .navbar {
    justify-content: center;
  }
  header .navbar .logo {
    display: none;
  }
  header .navbar nav ul {
    align-items: end;
    gap: 60px;
  }
  header .navbar nav ul li {
    display: none;
  }
  header .navbar nav ul i {
    display: flex;
    justify-content: space-between;
  }
  .hero {
    flex-wrap: wrap;
    gap: 0;
    padding: 0;
  }
  .hero .hero-text {
    width: auto;
    padding: 32px 16px;
  }
  .hero .hero-text h1 {
    padding-bottom: 32px;
    line-height: 40px;
  }
  .hero .hero-text button {
    padding: 14px;
  }
  .hero .hero-image {
    width: 100%;
  }
  .hero .hero-image img {
    height: 320px;
    width: 100%;
  }
  .courses {
    background-color: white;
  }
  .courses h2 {
    padding-top: 32px;
    border-top: 1px solid #d8d8d8;
  }
  .courses .courses-grid {
    grid-template-columns: repeat(1, 1fr);
    padding: 32px 16px;
    gap: 8px;
  }
  .courses .courses-grid a .course-card img {
    display: none;
  }
  .courses .courses-grid a .course-card .courses-text {
    transition: 0.3s;
    background-color: #d8d8d8;
  }
  .courses .courses-grid a .course-card .courses-text:hover {
    background-color: #4a90e2;
  }
  .courses .courses-grid a .course-card .courses-text p {
    display: none;
  }
  .media-sec .media-blog .media {
    padding: 32px 0;
  }
  .media-sec h2 {
    padding-top: 32px;
    border-top: 1px solid #d8d8d8;
  }
}

/*# sourceMappingURL=style.css.map */
