@import "form";
@import "color";

@mixin adaptive-text($min, $max) {
  font-size: clamp($min, 2vw, $max);
}

h1 {
  @include adaptive-text(36px, 58px);
}

h2 {
  @include adaptive-text(24px, 48px);
}

h3 {
  @include adaptive-text(20px, 36px);
}

p {
  @include adaptive-text(14px, 18px);
}


* {
  margin: 0;
  padding: 0;
}

body {
  font-family: Arial, sans-serif;
  color: $primary-color;
  max-width: 1920px;
  margin: 0 auto;
  border: 1px solid $primary-color;
}

header .navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 64px;
  padding: 0 24px;

  nav ul {
    list-style: none;
    display: flex;
    gap: 16px;

    i{
      display: none;
    }

    a {

      text-decoration: none;
      color: $secondary-color;
    }
  }
}

.hero, .courses, .media {
  padding: 32px 24px;
}

.hero {
  display: grid;
  grid-template-columns: 60% 40%;
  gap: 24px;
  background-color: $primary-color;

  .hero-image {
    text-align: right;
    img { max-width: 100%; height: auto; }
  }

  .hero-text {
    color: $secondary-color;
    align-self: center;
    width: 80%;
    h1 { padding-bottom: 24px; }
    p { margin-bottom: 24px; }
    button{
      color: white;
      background-color: $secondary-color;
      padding: 8px;
      text-decoration: none;
      width: 100%;

      border: none;
      cursor: pointer;
      transition: 0.3s;
      &:hover{
        background-color: $link-color;
      }
    }
  }
}

.content {
  display: grid;
  grid-template-columns: 60% 1% 39%;
  padding: 32px 0;
  background: white;
  color: $secondary-color;

  .card {
    padding-left: 24px;

    img { width: 100%; }
    h2 {  margin: 32px 0 24px; }
    .author { padding-top: 24px; }
  }

  .line { border-right: 1px solid $primary-color; }
  .sidebar {
    .item {
      display: flex;
      padding: 16px;

      &:first-child {padding-top: 0; border-bottom: 1px solid $primary-color;}
      .item-img {
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        margin-right: 12px;
        width: 272px;
      }

      .img-1 {background-image: url("../source/images/information-orientation.jpg");}
      .img-2 {background-image: url("../source/images/information-campus.jpg");}
      .img-3 {background-image: url("../source/images/information-guest-lecture.jpg");}
      .img-4 {background-image: url("../source/images/information-orientation.jpg");}
      .img-5 {background-image: url("../source/images/information-campus.jpg");}

      .img-1, .img-2, .img-3, .img-4, .img-5 {
        height: auto;
        aspect-ratio: 1 / 1;
        object-fit: cover;
      }

      .card-text {
        margin: 0 auto;
        align-self: center;
        line-height: 36px;
        a { text-decoration: none; color: $link-color; }
      }
    }
    .item:nth-child(3) { background-color: $primary-color; }
  }
}

.courses {
  text-align: center;
  background-color: $primary-color;
  h2 { color: $secondary-color; }
  .courses-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    padding: 32px 72px;
    gap: 32px;
    a{
      text-decoration: none;
      .course-card {
        background: white;
        text-align: left;
        img { width: 100%; }
        .courses-text {
          padding: 16px;
          color: $secondary-color;
          p:nth-child(2){ padding: 12px 0; }
        }
      }
    }
  }
}

.media-sec {
  h2 { color: $secondary-color;  text-align: center; padding-top: 32px; }
  .media-blog {
    display: grid;
    grid-template-columns: 60% 40%;
    background: white;
    color: $secondary-color;
    .media {
      padding: 32px 24px;
      position: relative;
      iframe{ width: 100%; height: 600px;}
      h2 {  margin: 32px 0 24px; text-align: left; }
    }
  }
  .sidebar {
    padding: 32px 0;
    .item {
      padding: 16px;
      display: flex;

      .item-img{
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        margin-right: 12px;
        width: 272px;
      }

      .img-1, .img-2, .img-3, .img-4, .img-5 {
        height: auto;
        aspect-ratio: 1 / 1;
        object-fit: cover;
      }

      .img-4 {background-image: url("../source/images/information-orientation.jpg");}
      .img-5 {background-image: url("../source/images/information-campus.jpg");}

      .card-text {
        margin: 0 auto;
        align-self: center;
        line-height: 36px;
        padding-left: 12px;
        a { text-decoration: none; color: $link-color; }
      }
    }
    .item:nth-child(1) { background-color: $primary-color; }
  }
}

footer{
  display: flex;
  justify-content: space-between;
  padding: 0 24px;


  .footer-list ul{
    list-style: none;
    display: flex;
    gap: 16px;

    a{
      text-decoration: none;
      color: $primary-color;
    }
  }
}
@media (max-width: 1380px) {

  .content {
    .sidebar {
      .item {
        .card-text {
          line-height: 26px;
          padding-left: 12px;
        }
      }
    }
  }

  .media {
    .sidebar {
      .item {
        .card-text {
          line-height: 26px;
          padding-left: 12px;
        }
      }
    }
  }
}

@media (max-width: 980px) {
  .hero {
    grid-template-columns: 1fr;
    grid-template-rows: auto auto;
    .hero-text {
      width: 100%;
      p {
        margin-bottom: 24px;
      }
    }
  }

  .content {
    grid-template-columns: 1fr;
    .card {
      display: none;
    }

    .sidebar {
      width: 100%;
      padding: 18px 0 32px;

      .item {
        flex-wrap: wrap;

        img {
          width: 100%;
        }

        .card-text {
          width: 100%;
        }

        .item-img {
          width: 100%;
          height: 272px;
          margin-right: 0;
        }

        &:nth-child(3) {
          background-color: white;
        }
      }

      .line {
        border-right: 0;
      }
    }
  }

  .content .line {
    border-right: 0;
  }

  .courses {
    .courses-grid {
      grid-template-columns: repeat(2, 1fr);
    }
  }

  .media-sec {
    .sidebar {
      display: none;
    }

    .media-blog {
      grid-template-columns: 1fr;
      .media {
        width: auto;
      }
    }
  }

  .content-text {
    display: none;
  }
}

.content {
  .sidebar {
    .item {

      border-bottom: none;

      &.img-1 {
        background-image: url("../source/images/information-orientation-mobile.jpg");
      }

      &.img-2 {
        background-image: url("../source/images/information-campus-mobile.jpg");
      }

      &.img-3 {
        background-image: url("../source/images/information-guest-lecture-mobile.jpg");
      }

      .card-text {
        line-height: 36px;
        padding: 18px 16px;
      }
    }
  }
}

@media (max-width: 760px) {

  header .navbar {
    justify-content: center;

    .logo{display: none;}
    nav ul {
      align-items: end;
      gap: 60px;
      li{
        display: none;
      }

      i{
        display: flex;
        justify-content: space-between;
      }

    }
  }

  .hero {
    flex-wrap: wrap;
    gap: 0;
    padding: 0;

    .hero-text {
      width: auto;
      padding: 32px 16px;

      h1 {
        padding-bottom: 32px;
        line-height: 40px;
      }

      button {
        padding: 14px;
      }
    }

    .hero-image {
      width: 100%;

      img {
        height: 320px;
        width: 100%;
      }
    }
  }

  .courses {
    background-color: white;

    h2 {
      padding-top: 32px;
      border-top: 1px solid $primary-color;
    }

    .courses-grid {
      grid-template-columns: repeat(1, 1fr);
      padding: 32px 16px;
      gap: 8px;

      a {
        .course-card {
          img {
            display: none;
          }

          .courses-text {
            transition: 0.3s;
            background-color: $primary-color;

            &:hover {
              background-color: $link-color;
            }

            p {
              display: none;
            }
          }
        }
      }
    }
  }

  .media-sec {
    .media-blog {
      .media {
        padding: 32px 0;
      }
    }

    h2 {
      padding-top: 32px;

      border-top: 1px solid $primary-color;
    }
  }

  .company,
  footer .footer-list ul a {

  }
}